*{
	box-sizing: border-box;
}
body{
	margin:0;
	padding: 0;
	font-family: arial, helvetica, sans-serif;
	background: #f4f4f4;

}

.header{
	padding: 0 20px;
	background: #1a045a;
	color: white;
	height: 60px;
}

.logo{
	font-size: 25px;
	float: left;
	line-height: 30px;
}

.menu{

	float: right;
	position:fixed;
	width: 100%;
	height: 100vh;
	background: #333;
	top: -12px;
transition: 0.6s;
line-height: 60px;
right: -100%;
text-align: center;
padding: 80px 0;
}


.menu a{
	display: block;
	text-decoration: none;
	padding: 0 20px;
	color: white;
		text-transform: uppercase;
	
}

.menu a:hover,
.show-menu-btn:hover,
 .hide-menu-btn:hover{
 	color: green;
 }


.show-menu-btn, .hide-menu-btn{
	transition: 0.4s;
	font-size: 30px;
	cursor: pointer;
	display: block;
}


.show-menu-btn{
	float: right;
}

.show-menu-btn i{

	line-height: 60px;

}

#chk{
	visibility: none;
	position: absolute;
	z-index: -1;
}

.hide-menu-btn{
	position: absolute;
	top: 40px;
	right: 40px;
}


#chk:checked ~ .menu{
	right: 0;
	transition: 0.6s;
}

.product-page{
	margin-top: 95px;
}

.product-page:after{
	content: "";
	display: table;
	clear: both;
}

.product-page-1{
	margin-top: 50px;
	width: 50%;
	float: left;


}

.logo-1{
	z-index: -1;
	position: absolute;
	margin-top: -73px;
	margin-left: 13rem;
	color: green;
	font-size: 25px;
	font-weight: 200;
	text-decoration: underline ;
}
.product-page-1 .card{
	margin-left: 70px;
	width: 35%;
	float: left;
	overflow: hidden;
box-shadow: 0px 2px 9px black;

}
.product-page-1 .card-1{
margin-left: 80px;		
	width: 35%;
	float: left;
	overflow: hidden;
box-shadow: 0px 2px 9px black;

}
.product-page-1 .card-2
{
	margin-left: 70px;
    width: 35%;
    float: left;
  margin-top: 60px;
    box-shadow: 0px 2px 9px black;
    overflow: hidden;
}
.product-page-1 .card-3
{
	 margin-top: 60px;
    width: 35%;
    float: left;
 margin-left: 80px;		
    box-shadow: 0px 2px 9px black;
    overflow: hidden;
}

.desc-1{
	text-align: center;
	text-transform: capitalize;
	color: green;
}

.desc-1 h1{
	font-weight: 200;
	font-size: 25px;

}


.product{
	box-shadow: 0px 2px 9px black;
float: left;
	width: 50%;
background: white;

}
.heading{
	font-size: 20px;
	margin-right: 20px;


}
.fa{
	font-size: 20px;

}

.checked{
	color: orange;
}

.img{
	margin-left: 150px;
	width: 33%;
	float: left;
	overflow: hidden;
}
.prod-info{
	margin-left: 70px;
	padding: 20px;
	width: auto;
	float: left;
	overflow: hidden;
}

.prod-info .price{
	font-size: 20px;
	color: #e74c3c;
	font-weight:700;
}

.prod-info li{
	line-height: 20px;
}
/*.comment-box{
	position: absolute;
	top: 580px;
	left: 14px;
	/*}**/
.comment-box textarea{
		box-shadow: 0px 2px 9px black;
border: none;
margin-top: -180px;
}

.btn-1{
	padding: 5px;
}

.rating{
	padding: 20px 60px;
	line-height: 33px;
	margin-top: 45px;
box-shadow: 0px 2px 9px black;

}


.rating h2{
	font-size: 20px;
	font-weight: 200;
	text-transform: capitalize;
	
}



































